/*-------------------------------------*/
/* IMPORTS */
/*-------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
@import url('https://fonts.googleapis.com/css?family=Sriracha');
@import url('https://fonts.googleapis.com/css?family=Cabin');
/*-------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------*/

.container {
	color: #2b2a27;
	display: flex;
	flex-wrap: wrap;
}

/*-------------------------------------*/
/* LEFT SECTION */
/*-------------------------------------*/

.banner-left {
	flex: 1;
	background-color: #D58EB5;

	/*centering*/
	display: flex;
  justify-content: center;
  align-items: flex-start;
  /*Set a min height for mobile*/
  /*height 100vh*/
  padding: 30px;
  margin-right: 5px;
 	/*Box Shadow*/
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
}

#logo {
	height: 140px;
}
.text h4{
	color: white;
	font-family: 'Clicker Script', cursive;
	font-size: 36px;
	/*max-width: 50%;*/
}
.text h1 {
	font-size: 50px;
}
#title {
	font-family: 'Sriracha', cursive;
}
/*-------------------------------------*/
/* RIGHT SECTION */
/*-------------------------------------*/

.banner-right {
 	flex: 1.7;
}

/*-------------MENU---------------*/
.menu {
	display: flex;
	justify-content: center;
	margin-top: 3vh;
}
.menu nav {
	display: flex;
	justify-content: space-between;
	@media (max-width: 40em){
		flex-direction: column;
	}
}
.menu nav a {
	text-decoration: none;
	flex-grow: 1;
	font-family: 'Cabin', sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 32px;
}
.menu nav img {
	height: 35px;
	width: auto;
	margin-right: 5px;
}
#nav-img {
	margin-bottom: -2px;
}
#fb {
	margin-bottom: 0px;
}

/*-------------SLIDESHOW---------------*/
.slideshow {
	display:none;
}

/*-------------------------------------*/
/* FOOTER */
/*-------------------------------------*/
.joinus h1 {
	padding: 17px;
	margin: 20px;
	font-size: 150%;
	font-family: 'Cabin', sans-serif;
	color: #2b2a27;
}
.btn:link,
.btn-ghost:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #D58EB5;
    color: #D58EB5;
}
.btn:hover,
.btn:active {
    background-color: #D58EB5;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #D58EB5;
    color: #fff;
}

/*-------------SOCIALS---------------*/

#social {
	margin-right: 30px;
}

/*-------------------------------------*/
/* JOIN US */
/*-------------------------------------*/

/*-------------NAVBAR---------------*/
.logo-left {
	background-color: #D58EB5;
	padding: 15px;
	margin-top: 2.5vh;
	flex: 1;
	/*Box Shadow*/
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
}
#logo-small {
	height: 85px;
}
.menu-right {
	margin-top: 4vh;
	flex: 1.7;
}

/*-------------CONTENT---------------*/
.content {
	color: #2b2a27;
}
.content h1, h3, h5 {
	margin-top: 2.5vh;
	font-family: 'Cabin', sans-serif;
}
.content h1 {
	font-size: 300%;
}
.content h3 {
	font-size: 220%;
	/*max-width: 500px;*/
}
.content h5 {
	font-size: 150%;
	margin-top: -20px;
}
/*-------------------------------------*/
/* JOIN US */
/*-------------------------------------*/
.content img {
	height: 90px;	
	padding-left: 20px;
	
}






/*-------------------------------------*/
/* COPYRIGHT */
/*-------------------------------------*/
#copyright {
	font-family: 'Cabin', sans-serif;
	color: #c8c8c8;
	font-size: 120%;
}